<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WFNFTAg=</data>
					<key>Replace</key>
					<data>WFhFTAg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(XSEL,0,S) to XXEL</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExMQA=</data>
					<key>Replace</key>
					<data>WFExMQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_Q11,0,N) to XQ11</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExMgA=</data>
					<key>Replace</key>
					<data>WFExMgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_Q12,0,N) to XQ12</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>CF9QUlcSBgIKDQoD</data>
					<key>Replace</key>
					<data>CF9QUlcSBgIKDQoA</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Name(_PRW, Package(0x0d,3)) to 0x0d,0</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>CF9QUlcSBgIKDQoD</data>
					<key>Replace</key>
					<data>CF9QUlcSBgIKDQoA</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Name(_PRW, Package(0x0d,3)) to 0x0d,0</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RkFORwE=</data>
					<key>Replace</key>
					<data>WEFORwE=</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change Method(FANG,1,N) to XANG</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RkFOVwI=</data>
					<key>Replace</key>
					<data>WEFOVwI=</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change Method(FANW,2,N) to XANW</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>Q0ZVTgw=</data>
					<key>Replace</key>
					<data>WEZVTgw=</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change Method(CFUN,4,S) to XFUN</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1E2MA==</data>
					<key>Replace</key>
					<data>WFE2MA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>rename method _Q60</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename XHCI to XHC (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDMQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename XHC1 to XHC (USB)</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixLAN</key>
				<true/>
				<key>FixAirport</key>
				<true/>
				<key>AddDTGP</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixWAK</key>
				<true/>
				<key>AddPNLF</key>
				<true/>
				<key>FixDisplay</key>
				<true/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>ReuseFFFF</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Arguments</key>
		<string>nv_disable=1 dart=0 kext-dev-mode=1 -ath9485 agdpmod=vit9696</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Debug</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>bluemac</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Hidden</key>
					<true/>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
				</dict>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Ignore</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Kernel</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x1a,0)</key>
			<dict>
				<key>subsystem-id</key>
				<data>cHIAAA==</data>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
				<key>#Comment</key>
				<string>Intel EHCI #2</string>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>subsystem-vendor-id</key>
				<data>hoAAAA==</data>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x14,0)</key>
			<dict>
				<key>subsystem-id</key>
				<data>cHIAAA==</data>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
				<key>#Comment-0</key>
				<string>No XHC to EHC port routing for USB2</string>
				<key>#Comment</key>
				<string>Intel xHCI</string>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>subsystem-vendor-id</key>
				<data>hoAAAA==</data>
				<key>RM,pr2-force</key>
				<data>/z8AAA==</data>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x1b,0)</key>
			<dict>
				<key>#Comment</key>
				<string>Intel HDA</string>
				<key>layout-id</key>
				<integer>3</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>framebuffer-con2-alldata</key>
				<data>/wAAAAEAAABAAAAA</data>
				<key>framebuffer-cursormem</key>
				<data>AACQAA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>AAPL,ig-platform-id</key>
				<data>BgAmCg==</data>
				<key>framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>device-id</key>
				<data>EgQAAA==</data>
				<key>framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>model</key>
				<string>Intel HD Graphics 4600</string>
				<key>framebuffer-con2-enable</key>
				<integer>1</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>device_type</key>
				<string>Airport Network</string>
				<key>pci-aspm-default</key>
				<data></data>
				<key>model</key>
				<string>BCM4352 802.11ac Wireless Network Adapter</string>
				<key>name</key>
				<string>Airport</string>
				<key>AAPL,slot-name</key>
				<string>WLAN</string>
				<key>compatible</key>
				<string>pci14e4,43a0</string>
			</dict>
			<key>PciRoot(0)/Pci(0x03,0)</key>
			<dict>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>#Comment</key>
				<string>Intel HDMI HDA</string>
				<key>layout-id</key>
				<integer>3</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x1d,0)</key>
			<dict>
				<key>subsystem-id</key>
				<data>cHIAAA==</data>
				<key>AAPL,current-extra</key>
				<integer>2200</integer>
				<key>AAPL,max-port-current-in-sleep</key>
				<integer>2100</integer>
				<key>#Comment</key>
				<string>Intel EHCI #1</string>
				<key>AAPL,current-extra-in-sleep</key>
				<integer>1600</integer>
				<key>subsystem-vendor-id</key>
				<data>hoAAAA==</data>
				<key>AAPL,current-available</key>
				<integer>2100</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,GfxYTile</key>
				<data>AQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-portcount</key>
				<data>AgAAAA==</data>
				<key>device-id</key>
				<data>EgQAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>BgAmCg==</data>
				<key>framebuffer-con2-index</key>
				<data>/////w==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-cursormem</key>
				<data>AACQAA==</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1f,0)</key>
			<dict>
				<key>compatible</key>
				<string>pci8086,9c43</string>
				<key>#Comment</key>
				<string>Intel LPC</string>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>33</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>SetIntelBacklight</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<true/>
			<key>HorizontalSyncPulseWidth</key>
			<string>0x64</string>
			<key>Custom</key>
			<data>AP///////wANrjUXAAAAADIWAQSVJhV4AtSVo1VQnScPUFQAAAABAQEBAQEBAQEBAQEBAQEBtDuASnE4NEAwIDUAftcQAAAYAAAA/gBOMTczSEdFLUUxMQogAAAA/gBDTU4KICAgICAgICAgAAAA/gBOMTczSEdFLUUxMQogAOA=</data>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>Comment</key>
				<string>USB Port limit patch #1/2 10.15.x (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>Comment</key>
				<string>USB Port limit patch #2/2 10.15.x (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
			</dict>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.13.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>5YRsG305</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE176</string>
		<key>Board-ID</key>
		<string>Mac-B4831CEBD52A0C4C</string>
		<key>Trust</key>
		<true/>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF7F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP141.88Z.F000.B00.2004240928</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02908600GUHWVP8C</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>SmUUID</key>
		<string>5C68E922-3B34-44C7-9338-20F6FA1B7D39</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>207.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02Y90JWHV29</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>04/24/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>CustomUUID</key>
		<string>EA884E51-59B2-53AA-B158-1C65446C7934</string>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>